{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="ja">
  <head>{% block title %}umacopi編集{% endblock %}</head>

  <body>
    <div>{% block header %}{% endblock header %}</div>
    <div>
      {% block contents %}
      <div id="infoContainer">
        <div class="pageHeader"></div>
        <div class="subMenu">
          <ul class="clearfix">
          <li><a id="TodayRaceInfoTop" href='{% url "home" %}'>最近のレース</a></li>
          <li><a id="MonthlyConveneInfoTop" href='{% url "other" %}'>その他のレース</a></li>
          <li><a id="calendar" href='{% url "edit" %}'>レースを編集する</a></li>
          </ul>
        </div>
      </div>
      <div class="innerWrapper">
        <h3>レースを編集する</h3>
        <table class="course">
          <tbody>
            <tr>
              <th class="edit">編集内容を選択できます</th>
            </tr>
            <tr>
              <td class="">
                <a href='{% url "organize" %}' class="delete">取得済みレースの削除</a>
                <a href='{% url "making" %}' class="delete">（ 新規レースの取得 ）</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    {% endblock contents %}
  </body>
</html>