{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="ja">
<head>
{% block title %}ホーム{% endblock %}
</head>

<body>
{% block header %}<h1><a href='{% url "home" %}'>🏇うまコピ</a></h1>{% endblock header %}
{% block contents %}

<br>

<h3>昨日のレース【{{ yesterday }}】</h3>
  {% for yesterday_race in yesterday_races %}
    <a href='{% url "yesterday" join_date_yesterday yesterday_race.venue.name %}'>
      {{ yesterday_race.venue.name }}
    </a><br>
  {% endfor %}
<br>

<h3>今日のレース【{{ today }}】</h3>
  {% for today_race in today_races %}
    <a href='{% url "today" join_date_today today_race.venue.name %}'>
      {{ today_race.venue.name }}
    </a><br>
  {% endfor %}
<br>

<h3>明日のレース【{{ tomorrow }}】</h3>
  {% for tomorrow_race in tomorrow_races %}
    <a href='{% url "tomorrow" join_date_tomorrow tomorrow_race.venue.name %}'>
      {{ tomorrow_race.venue.name }}
    </a><br>
  {% endfor %}

<br><br>

<h3>その他のレース</h3>
<a href='d_search'>《開催日》</a>で探す<br>
<a href='v_search'>《開催場所》</a>で探す<br>

<br>

{% endblock contents %}
</body>
</html>
