{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="ja">
<head>
{% block title %}ホーム{% endblock %}
</head>

<body>
{% block header %}<h1><a href='{% url "home" %}'>🏇うまコピ</a></h1>{% endblock header %}
{% block contents %}
<br><br>
<h3>昨日のレース【{{ yesterday }}】</h3>
  {% for y in yesterdayraces %}
    <a href='{% url "yesterday_pick" yesterday_con y.開催場所 %}'>
      {{ y.開催日 }} &thinsp; {{ y.開催場所 }}
    </a><br>
  {% endfor %}
<br>

<h3>今日のレース【{{ today }}】</h3>
  {% for t in todayraces %}    
    <a href='{% url "today_pick" today_con t.開催場所 %}'>
      {{ t.開催日 }} &thinsp; {{ t.開催場所 }}
    </a><br>
  {% endfor %}
<br>

<h3>明日のレース【{{ tomorrow }}】</h3>
  {% for tomo in tomorrowraces %}
    <a href='{% url "tomorrow_pick" tomorrow_con tomo.開催場所 %}'>
      {{ tomo.開催日 }} &thinsp; {{ tomo.開催場所 }}
    </a><br>
  {% endfor %}
<br><br><br><br>


<h3>その他のレースは<a href='{% url "date_search" %}'>こちら</a>から</h3>


<br><br>



<!-- <form action='' method="get"  id="the">
  <label>開催日を指定してください。</label>
  <input type="search" size="16" name="theday" placeholder="年/月/日" autocomplete="off" list="thedate"><br><br>
    <datalist id="thedate">
      {% for theday in thedates %}
          <option value="{{ theday.開催日 }}">
      {% endfor %}
    </datalist>

  <label>開催場所を指定してください。</label>
  <input type="search" size="18" name="thevenue" placeholder="指定なし" autocomplete="off" list="thevenue"><br><br>
    <datalist id="thevenue">
      {% for thevenue in thevenues %}
          <option value="{{ thevenue.開催場所 }}">
      {% endfor %}
    </datalist>
  
  <button type="submit">送信する</button>
  <button type="reset">リセット</button>
</form> -->


<!-- 【{% now "F" %}{% now "j" %}日({% now "D" %})】 -->
{% endblock contents %}
</body>
</html>
