{% extends 'base.html' %}
{% load static %}

<!doctype html>
<html lang="ja">
<head>
{% block title %}並び替え{% endblock %}
</head>
<body>
{% block header %}<h1>並び替え出馬表</h1>{% endblock header %}     
{% block contents %}
<p>
  {{ '開催日' }} | {{ '開催場所' }} | {{ 'レース' }} | {{ '着順' }} | 
  {{ '枠' }} | {{ '馬番' }} | {{ '逆番' }} | {{ '印' }} | 
  {{ '馬名' }} | {{ '騎手' }} | {{ '厩舎' }} | {{ '単勝オッズ' }} | {{ '人気' }}
</p>
<div>
  {{ object.開催日 }} |
  {{ object.開催場所 }} |
  {{ object.レース }} |
  {{ object.着順 }} |
  {{ object.枠 }} |
  {{ object.馬番 }} |
  {{ object.逆番 }} |
  {{ object.印 }} |
  {{ object.馬名 }} |
  {{ object.騎手 }} |
  {{ object.厩舎 }} |
  {{ object.単勝オッズ }} |
  {{ object.人気 }} |
</div>
{% endblock %}
</body>
</html>